@import './base.css';

#app {

  margin: 0 auto;
  

  font-weight: normal;
  
}

a,
.green {
  text-decoration: none;
  color: rgb(52, 46, 233);
  transition: 0.4s;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(214, 98%, 47%, 0.389);
  }
}

@media (min-width: 1024px) {



}
